{% extends "admin/base.html" %} {% block title %}Music Platform{% endblock %}
{%block branding %}
<h1 id="site-name"><a href="{% url 'artists' %}">Music Platform</a></h1>
{% endblock %} {% block breadcrumbs %}{% endblock %} {% block nav-global %}
<a href="{% url 'artist_create' %}"><div>add artist</div></a>
<a href="{% url 'album_create' %}"><div>add album</div></a>
{% if user.is_authenticated %}
<a href="{% url 'logout' %}"><div>logout</div></a>
{% else %}
<a href="{% url 'login' %}"><div>login</div></a>
{% endif %} {% endblock %}
