{% extends "base_site.html" %} {% block content %}

<style>
  .fieldWrapper {
    margin: 8px;
  }
  .error {
    color: red;
  }
  .help {
    font-size: 14px;
    color: grey;
  }
</style>
<form method="post">
  {% csrf_token %} {% for field in form %}
  <div class="fieldWrapper">
    <div class="error">{{ field.errors }}</div>
    {{ field.label_tag }} {{ field }} {% if field.help_text%}
    <div class="help">{{ field.help_text|safe }}</div>
    {% endif %}
  </div>
  {% endfor %}
  <input type="submit" value="Create" />
</form>
{% endblock %}
